@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
  --color-neutral-0: #0c0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-decoration: none;
}

main {
  height: 80vh;
}

body {
  font-size: 100%;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: screen;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}


.cabecalho-menu-item:hover {
  color: #f1a0b2;
  transition: all 0.4s;
}


.conteudo {
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito-titulo {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 60px;
  color: #FC762B;
  margin-left: 150px;
}

.conteudo-principal-escrito-subtitulo {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  margin-left: 150px;
  margin-top: 10px;
}

.conteudo-principal-escrito-botao {
  background-color: #b0a2e6;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 152px;
}

.conteudo-principal-escrito-botao:hover {
  background-color: #ad70e9;
  cursor: pointer;
  transition: 0.4s linear;
}


.conteudo-principal-imagem {
  height: 515px;
  margin-right: 80px;
  display: flex;
}

#footer {
  width: 100%;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_contacts {
  color: white;
}

#footer_content p {
  color: var(--color-neutral-40);
}

#footer_subscribe h3 {
  color: white;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#footer_social_media .footer-link {
  font-size: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

.footer-list li {
  color: white;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2292, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  color: #ffffff;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}


@media screen and (max-width: 768px) {

  #footer_content,
  #footer_copyright {
    width: 1000px;
  }
}


@media screen and (max-width: 768px) {
  .conteudo-principal {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .conteudo-principal-imagem {
    margin-left: 5rem;
  }
}